#body {
    max-width: 1920px;
    background-color:honeydew
}

#main {
    text-align: center;
    width: 100%;
}

.banner-marcas {
    display: flex;
    justify-content: center; /* Centra horizontalmente */
    align-items: center; /* Centra verticalmente */
    height: 150px;
    background-image: url(Images/baner-marcas.PNG);
    padding-top: 50px;
}


#main picture img {
    display: block;
    margin: 0 auto;
}

#main h1 {
    color: #080881;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    text-align: center;
}

//**Pages Contacto Formulario**//
.contact-container {
    display: flex;
    align-items: center; /* Centra verticalmente */
    height: 100vh; /* Ocupa toda la altura de la ventana */
}

.contact-form {
    background-color: #ffffff;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
    text-align: center;
}

.contact-form h1 {
    margin-bottom: 20px;
    color: #333;
}

.form-group {
    margin-bottom: 15px;
}

label {
    display: block;
    margin-bottom: 8px;
    font-size: 14px;
    color: #555;
}

input[type="text"],
input[type="email"],
textarea {
    width: 100%;
    padding: 10px;
    font-size: 14px;
    border: 1px solid #ccc;
    border-radius: 4px;
}

textarea {
    resize: vertical;
}

button {
    padding: 10px 15px;
    background-color:black;
    color: white;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
}

button:hover {
    background-color:#00B2A9;
}

//**Finalizacion Pages Contacto Formulario**//


.quienes__somos {
    background-color: red;
    color: black !important;
}

.acerca__de {
    background-color: red;
    color: black !important;
}

//*Botones de Marcas izquierda sobre los grids**//

.marcasButton {
    width: 200px; /* Ajusta el ancho según sea necesario */
    float: left;  /* Alinea a la izquierda */
    margin: 20px; /* Espacio alrededor del div */
}


//**Grids sobre marcas e informacion**//

.containerMarcas {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 20px; 
    padding: 20px;
}

.marca {
    background: #f9f9f9; 
    border: 1px solid #ddd; /* Borde */
    border-radius: 8px; 
    padding: 15px;
    transition: transform 0.3s, box-shadow 0.3s; /* Animaciones */
    overflow: hidden; /* Evitar que se desborde el contenido */
}

.marca:hover {
    transform: scale(1.05); /* Aumentar el tamaño al pasar el mouse */
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.2); /* Sombra */
}

.marca img {
    max-width: 100%; 
    height: auto; 
}

