/* Para teléfonos (0 - 300 px)Videos main */
@media (max-width: 300px) {
    .vidman {
        /* Estilos para teléfonos */
        font-size: 14px;
        padding: 10px;
    }
}

/* Para tabletas (300 - 800 px)Videos main  */
@media (min-width: 301px) and (max-width: 800px) {
    .vidman {
        /* Estilos para tabletas */
        font-size: 16px;
        padding: 15px;
    }
}

/* Para escritorios (800 - 1400 px) Videos main */
@media (min-width: 801px) and (max-width: 1400px) {
    .vidman {
        /* Estilos para escritorios */
        font-size: 18px;
        padding: 20px;
    }
}

/* Para pantallas grandes (desktops y laptops) */
@media (min-width: 1024px) {
    #footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .section__footer {
        width: 23%; /* Cuatro columnas */
        padding: 10px;
    }

    .buttons__footer {
        flex-direction: column;
    }

    .buttons__footer button {
        width: 100%; /* Los botones ocupan todo el ancho en pantallas grandes */
    }
}

/* Para pantallas medianas (tablets) */
@media (max-width: 1024px) and (min-width: 600px) {
    #footer {
        display: flex;
        justify-content: space-between;
        flex-wrap: wrap;
    }

    .section__footer {
        width: 48%; /* Dos columnas */
    }

    .buttons__footer {
        flex-direction: column;
    }

    .buttons__footer button {
        width: 100%;
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 599px) {
    #footer {
        display: block; /* En móviles, todos los elementos se apilan */
    }

    .section__footer {
        width: 100%; /* Las secciones ocupan todo el ancho */
        padding: 10px;
    }

    .buttons__footer {
        flex-direction: column;
    }

    .buttons__footer button {
        width: 100%;
    }

    footer p {
        font-size: 0.75rem;
    }
}


/* Para pantallas medianas (tabletas) */
@media (max-width: 1024px) and (min-width: 600px) {
    .marca {
        width: calc(50% - 20px); /* Dos marcas por fila */
    }
}

/* Para pantallas pequeñas (móviles) */
@media (max-width: 599px) {
    .containerMarcas {
        padding: 10px; /* Reducir el padding en pantallas pequeñas */
    }

    .marca {
        width: 100%; /* Una marca por fila */
        margin-bottom: 20px; /* Espacio entre marcas */
    }

    .marca h3 {
        font-size: 1rem; /* Reducir el tamaño de los encabezados en móviles */
    }

    .marca p {
        font-size: 0.75rem; /* Reducir el tamaño del texto en móviles */
    }
}