/* Para teléfonos (0 - 300 px)Videos main */
@media (max-width: 300px) {
    .vidman {
        /* Estilos para teléfonos */
        font-size: 14px;
        padding: 10px;
    }
}

/* Para tabletas (300 - 800 px)Videos main  */
@media (min-width: 301px) and (max-width: 800px) {
    .vidman {
        /* Estilos para tabletas */
        font-size: 16px;
        padding: 15px;
    }
}

/* Para escritorios (800 - 1400 px) Videos main */
@media (min-width: 801px) and (max-width: 1400px) {
    .vidman {
        /* Estilos para escritorios */
        font-size: 18px;
        padding: 20px;
    }
}